#!/usr/bin/make -f

export DH_GOLANG_INSTALL_ALL := 1
export DH_GOPACKAGE := github.com/axon/axon
export GOFLAGS := -buildvcs=false

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_build:
	$(MAKE) build completion

override_dh_auto_test:
	go test ./...

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/axon PREFIX=/usr
	$(MAKE) install-completions DESTDIR=$(CURDIR)/debian/axon PREFIX=/usr
	$(MAKE) install-man DESTDIR=$(CURDIR)/debian/axon PREFIX=/usr
